body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fbfbfb;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 12px;
}

.answer-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style-type: upper-alpha;
}

.answer-container > li > label {
  padding: 2px 7px;
  cursor: pointer !important;
}

.horizontal-line {
  height: 1px;
  background-color: #d3d3d3;
  margin: 12px 0;
}
